

<body style="background-color:">
<center><h1><font size=8><font color=red>Welcome <font color=yellow> To <font color=Green>Hangman!!</h1>
<center><font size=6><font color=Red> Please enter your names.
<center><form action="player_names" method="post">
<center><h4><font color=black> Player1:<input type="text" name="player1" autofocus>
<center></form>
<center><h4><font color=black> Player2:<input type="text" name="player2" autofocus>
</form>
<center><font color=red><input type="submit" value="enter">
</form>

</body>