

<link rel="stylesheet" type="text/css" href="/css/losing.css">


<center><canvas></canvas>
<p>

<font color = red><font size = 6>correct word - <%=word%>
<form method = "post" action = "play_again">
 <input type = "submit" value = "Play Again"></p></ceneter>
</form>
 