

<link rel="stylesheet" type="text/css" href="/css/losing.css">


<center><canvas></canvas>



<form method = "post" action = "play_again">
 <p ><input type = "submit" value = "Play Again" class= "play_again" ></p></ceneter>
</form>
 <font color = red><font size = 6>correct word - <%=word%>
