<link rel="stylesheet" type="text/css" href="/css/winner.css">


 <center><font color = blue><font size = 8><h2> YOU'R A WINNER!!! <h2></center>
<center><font color = red><font size = 6>correct word - <%=word%>
<form method = "post" action = "play_again">
 <center><input type = "submit" value = "Play Again">
</form>