
 
body  {
 background-repeat: no-repeat; 
 background-size: cover;
 background-color: #000;
 background-image: url(https://68.media.tumblr.com/dc91eb03b2d6793ad7d340736ca2de2b/tumblr_nkvbsxvLqc1svx72no1_500.gif);
 }


  {
  background-color: red;
   transition: background-color 7s;*/
 }body




















